<p>p-binding works!</p>
{{name}}
<!-- <!-- <input type="text" value="Coding Hub"> //Attribute -->
<!-- <input type="text" value="{{name}}">// using String interpolation -->
<!-- <input type="text" [value]="name" disabled>// deafult value of disabled is true -->
<!-- <input type="text" value="{{name}}" [disabled]="isDisabled">// though we like this we didnot get the required output because string intepolation does not support boolelan value -->
<input type="text" [value]="name" [disabled]="isDisabled">
<!-- $0.getAttribute('value') -->
<!-- $0.Value -->
