<!-- <p>Hai Samuel <p>
  <h1>welcome</h1>
  <button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>

<button type="button" class="btn btn-link">Link</button> -->

<!-- <app-home></app-home> type 1 calling as element-->
<!-- <div class=app-home></div> type 2 calling as class-->
<!-- <div app-home></div> type 3 calling as attribute-->
<!-- <div id=app-home></div> type 2 calling as class -->


<!-- <app-interpolation></app-interpolation> -->
<!-- <app-e-binding></app-e-binding> -->
<!-- <app-p-binding></app-p-binding> -->
<!-- <app-two-way-binding></app-two-way-binding> -->
<!-- <app-c-binding></app-c-binding> -->
<!-- <app-style-binding></app-style-binding> -->
<!-- <app-ngif-example></app-ngif-example> -->
<!-- <app-ngfor></app-ngfor> -->
<!-- <h1 appDirectiveEx1>Mithinti Paul Samuel</h1> -->
<!-- <app-pipes-component></app-pipes-component> -->
<!-- <app-parent></app-parent> -->
<router-outlet></router-outlet>
<!-- <app-view-encapsulation></app-view-encapsulation> -->
<!-- <app-tdf></app-tdf> -->
<!-- <h1 class="testDesign">Hello world</h1> -->