<!-- <p>country-services works!</p> -->
<!-- <h1 *ngFor="let temp of Bigdata">{{temp.name.common}}</h1> -->

<h1 [align]="'center'" style="color: red;">Countries List</h1>


<style>
    table,th,td{
        border: 2px solid black;        
    }
</style>

<table align="center">
    <tr align="center">
        <th>Names</th>
        <th>Capital</th>
        <th>Flag</th>
    </tr>
    <tr *ngFor="let temp of Bigdata">
        <td>{{temp.name.common}}</td>
         <td>{{temp.capital}}</td>
         <td><img src="{{temp.flags.png}}"></td>
    </tr>
</table>