<!-- <p>home works!</p> -->
<div style:textalign="center" color="blue">
<h3>Coding Hub Innovation Pvt.Ltd</h3>
<h1>Way For Better Future</h1>
</div>
<!-- //below is one way 
<button  [routerLink]="'/course'" class="btn btn-primary">Course</button>
<button [routerLink]="'/coursedetails'" class="btn btn-primary"style="margin-left: 10px;" >CourseDetails</button> -->



<!-- //below is another way
<button  routerLink="/course" class="btn btn-primary">Course</button>
<button routerLink="/coursedetails" class="btn btn-primary"style="margin-left: 10px;" >CourseDetails</button> -->


//below is the third way 
<button  [routerLink]="'/course'" class="btn btn-primary">Course</button>
<button [routerLink]="link" class="btn btn-primary"style="margin-left: 10px;" >CourseDetails</button>
<p appBGColor>Pavan Soti </p>